@import '../../scss/variables';

.sidebar{
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 260px;
  background-color: $purple;
  color: $white;
  padding-bottom: 30px;

  .sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }

  .sidebar__header_user{
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .sidebar__header_channelName{
    font-size: 15px;
    font-weight: 900;
  }

  .sidebar__header_userStatusIcon {
    margin-right: 10px;
    font-size: 20px;
    fill: $activeColor;
    
  }

  .sidebar__header_composeButton {
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .sidebar__header_composeIcon {
    font-size: 18px;
    fill: $purple
  }

  .sidebar__channels {
    margin-top: 30px;
  }

}

