// Colors

$white: #fff;
$purple: #3f0d40;
$purpleMedium: #553357;
$purpleLight: #957097;
$purpleHover: #340e36;
$gray: #444A47;
$grayHover: lighten($gray, 10%);
$activeColor: #00c200;
$bodyColor: #1d1c1d;